.reciver{
    display: flex;
    flex-direction: column-reverse;
}
.sender{
    display: flex;
    flex-direction: column-reverse;
}

.Body_chat {
    
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding:24px ;
    border-radius: 8px;
    gap: 12px;
}




.text{
    display: flex;
}
.text1{
    display: flex;
    justify-content: flex-end;
}

.text .btn button {
    color: white;
    background-color: rgb(112, 90, 199);
    text-transform: uppercase;
    border-radius: 44% 47%;
}

.btn-r button {
    color: white;
    background-color: rgb(41, 39, 46);
    text-transform: uppercase;
    border-radius: 44% 47%;
}

.text-chat{
    text-transform: capitalize;
    padding-top: 10px;
    padding-left:10px ;
}
.text-chat1{
    text-transform: capitalize;
    padding-top: 10px;
    padding-right:10px ;
}